target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDE ###
.idea/
*.iws
*.iml
*.ipr
.vscode/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### Runtime ###
logs/
data_h2/
app/.logs/
app/data_sqlite/
*.hprof

### Build ###
_output
build/

### Archetype ###
.doc-sys-gen/
.generation/
.ruff_cache/
node_modules/
